In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/DATASETS - CURSO PYTHON/gapminder.csv")

In [ ]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
df = df.rename(columns = {"country":"Pais", "continent":"Continente","year":"Ano","lifeExp":"Exp. Vida","pop":"População","gdpPercap":"PIB"})

In [ ]:
df.head()

          Pais Continente   Ano  Exp. Vida  População         PIB
0  Afghanistan       Asia  1952     28.801    8425333  779.445314
1  Afghanistan       Asia  1957     30.332    9240934  820.853030
2  Afghanistan       Asia  1962     31.997   10267083  853.100710
3  Afghanistan       Asia  1967     34.020   11537966  836.197138
4  Afghanistan       Asia  1972     36.088   13079460  739.981106

In [ ]:
df.shape

(1704, 6)

In [ ]:
df.columns

Index(['Pais', 'Continente', 'Ano', 'Exp. Vida', 'População', 'PIB'], dtype='object')

In [ ]:
df.dtypes

Pais           object
Continente     object
Ano             int64
Exp. Vida     float64
População       int64
PIB           float64
dtype: object

In [ ]:
df.tail()

          Pais Continente   Ano  Exp. Vida  População         PIB
1699  Zimbabwe     Africa  1987     62.351    9216418  706.157306
1700  Zimbabwe     Africa  1992     60.377   10704340  693.420786
1701  Zimbabwe     Africa  1997     46.809   11404948  792.449960
1702  Zimbabwe     Africa  2002     39.989   11926563  672.038623
1703  Zimbabwe     Africa  2007     43.487   12311143  469.709298

In [ ]:
df.describe()

              Ano    Exp. Vida     População            PIB
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [ ]:
df["Continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', 'Oceania'], dtype=object)

In [ ]:
Oceania = df.loc[df["Continente"] == "Oceania"]

In [ ]:
Oceania.head()

         Pais Continente   Ano  Exp. Vida  População          PIB
60  Australia    Oceania  1952      69.12    8691212  10039.59564
61  Australia    Oceania  1957      70.33    9712569  10949.64959
62  Australia    Oceania  1962      70.93   10794968  12217.22686
63  Australia    Oceania  1967      71.10   11872264  14526.12465
64  Australia    Oceania  1972      71.93   13177000  16788.62948

In [ ]:
df.groupby("Continente")["Pais"].nunique()

Continente
Africa      52
Americas    25
Asia        33
Europe      30
Oceania      2
Name: Pais, dtype: int64

In [ ]:
df.groupby("Ano")["Exp. Vida"].mean()

Ano
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: Exp. Vida, dtype: float64

In [ ]:
df.groupby("Continente")["Exp. Vida"].mean()

Continente
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: Exp. Vida, dtype: float64